---
swagger: "2.0"
info:
  description: "CBDB Swagger UI"
  version: "1.0.5"
  title: "Swagger Petstore"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "hongsuwang@fas.harvard.edu"
  license:
    name: "CC BY-NC-SA 4.0 DEED"
    url: "https://creativecommons.org/licenses/by-nc-sa/4.0/"
host: "cbdb.fas.harvard.edu"
basePath: "/cbdbapi"
tags:
- name: "person"
  description: "Query person information"
  externalDocs:
    description: "Find out more"
    url: "cbdb.fas.harvard.edu/cbdbapi"
schemes:
- "https"
- "http"
paths:
  /person.php?id={personid}&o=json:
    get:
      tags:
      - "person"
      summary: "Find person by ID"
      description: "Returns a single person"
      operationId: "getPersonById"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "personid"
        in: "path"
        description: "ID of person to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Person"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Person not found"
      security:
      - api_key: []
  /person.php?name={personname}&o=json:
    get:
      tags:
      - "person"
      summary: "Find person by name"
      description: "Returns person information by name"
      operationId: "getPersonByName"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "personname"
        in: "path"
        description: "ID of person to return"
        required: true
        type: "string"
        format: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Person"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Person not found"
      security:
      - api_key: []
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "https://petstore.swagger.io/oauth/authorize"
    flow: "implicit"
    scopes:
      read:pets: "read your pets"
      write:pets: "modify pets in your account"
definitions:
  Person:
    type: "object"
    required:
    - "name"
    - "photoUrls"
    properties:
      id:
        type: "integer"
        format: "int64"
      category:
        $ref: "#/definitions/Category"
      name:
        type: "string"
        example: "doggie"
      photoUrls:
        type: "array"
        xml:
          wrapped: true
        items:
          type: "string"
          xml:
            name: "photoUrl"
      tags:
        type: "array"
        xml:
          wrapped: true
        items:
          xml:
            name: "tag"
          $ref: "#/definitions/Tag"
      status:
        type: "string"
        description: "pet status in the store"
        enum:
        - "available"
        - "pending"
        - "sold"
    xml:
      name: "Pet"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
